{% extends "base.html" %}

{%block title%}
<title>{{mealplan.name}} - Meal Plans</title>
{%endblock title%}

{% block content%}
<main class="recipe-form">
  <div>
    <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
    <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
  </div>
  <h2>Meal Plan for {{mealplan.name}} on {{ mealplan.date }} by {{ mealplan.owner }}</h2>
  <p>
  {% for recipe in mealplan.recipes.all %}
    <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
  {% endfor %}
  </p>

</main>
{% endblock content %}