{% extends "base.html" %}

{%block title%}
<title>New Meal Plan - Scrumptious</title>
{%endblock title%}

{% block content%}
<main class="recipe-form">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="control">
      <button class="button">Add</button>
    </div>
  </form>
</main>
{% endblock content %}